<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>User's Surveys </h3>
          <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/surveys/add" class="btn btn-primary"><i class="fa fa-plus"></i> Create a survey</a>
          <% } %>
            <br><br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < surveys.length; count++) { %>
                <tr>
                  <td>

                    <b><%= surveys[count].Title %></b><br>
                    By: <%= surveys[count].Owner %><br>
                    Begins: <%= surveys[count].Start.toLocaleDateString(); %><br>
                    Ends: <%= surveys[count].Finish.toLocaleDateString(); %><br>

                    <% if(surveys[count].Owner == username) { %>
                    <a href="/surveys/<%= surveys[count]._id %>/results" class="btn btn-info">
                    <i class="fa fa-eye"></i> Results</a>
                    <% } else if(date >= surveys[count].Start && date <= surveys[count].Finish) { %>
                    <a href="/surveys/<%= surveys[count]._id %>" class="btn btn-primary">
                    <i class="fa fa-pencil-square-o"></i> Open</a>
                    <% } else { %>
                    <i class="fa fa-times"></i> Closed
                    <% } %>
                  
                    <% if(surveys[count].Owner == username) { %>
                    <a href="/surveys/delete/<%= surveys[count]._id %>" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete</a>
                    <% } %>

                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


