<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= username %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label>Display Name: <%= displayName %></label>
              </div>
              <div class="form-group">
                <label>E-mail: <%= email %></label>
              </div>
              <div>
              <a href="/profile/edit" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i> Edit Profile</a>
              <a href="/logout" class="btn btn-warning">
              <i class="fa fa-sign-out"></i> Logout</a>
              </div>
              <br><br>
              <table class="table table-bordered table-striped table-hover">
              <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < surveys.length; count++) { %>
                <% if(surveys[count].Owner == username) { %>
                <tr>
                  <td>

                    <b><%= surveys[count].Title %></b><br>
                    By: <%= surveys[count].Owner %><br>
                    Begins: <%= surveys[count].Start.toLocaleDateString(); %><br>
                    Ends: <%= surveys[count].Finish.toLocaleDateString(); %><br>

                    <% if(surveys[count].Owner == username) { %>
                    <a href="/surveys/<%= surveys[count]._id %>/results" class="btn btn-info">
                    <i class="fa fa-eye"></i> Results</a>
                    <% } else if(date >= surveys[count].Start && date <= surveys[count].Finish) { %>
                    <a href="/surveys/<%= surveys[count]._id %>" class="btn btn-primary">
                    <i class="fa fa-pencil-square-o"></i> Open</a>
                    <% } else { %>
                    <i class="fa fa-times"></i> Closed
                    <% } %>
                  
                    <% if(surveys[count].Owner == username) { %>
                    <a href="/surveys/delete/<%= surveys[count]._id %>" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete</a>
                    <% } %>

                  </td>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
              <br/><br/><br/>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
